body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}
a,
ul {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}
input {
  font-family: inherit;
}
